 body {
 background-color: violet
 }
 
 .nav link {
  font-weight:lighter ; 
 
 }
 .nav-link:hover{
  font weight : bolder ;
  background-color: #eee;
 }
 Header{
  height:850px;
  width: 100%;
  background-image: url("1.jpg");
  background-size:cover;
  text-align: center; 
  font-family: 'Playball', cursive;
  color:violet ;

 }
 
header p{
 font-style: italic;
 color: Violet 
} 
.aboutus{
 text-align: center;
}
.aboutus i{
 font-size: 30px;
 padding:25px 20px;
 
 /*change the color*/
 color:#fff;
 background-color:#5cb85c;
 /*resize container of icon*/
 width: 80px;
 height: 80px;
 
 /*make the container round*/
 border-radius: 50%;
}
.aboutus span{
 width: 200px;
 display: inline-block; 
}

.team img {
width: 100px;
height:80px;
border-radius:50%;
}
 
 /*Get involved*/
 .getinvolved{
  background-color: #5cb85c; 
  text-align:center;
  /*adds padding on top and bottom */
  padding:50px 0 80px;
  margin-top: 50px;
  width: 100%;
 }
 .getinvolved h1{
  color:#fff;
 }
 .options{
  padding: 30px;
  margin: 10px;
  border:1px solid #ccc;
  
  background-color: #fff
  border-radius:5px;
  margin-top:30px;
 }